<div style="display: inline-block;">
  <div class="main-content" style="display: block;">
    <h3><%= @user.name %>'s suppliers</h3>
    <% @user.suppliers.each do |supplier| %>
        <div class="common-line" style="margin-top: 3px;margin-bottom: 3px;"></div>
        <a href="<%= supplier_path supplier %>"><%= supplier.name %></a>
    <% end %>
  </div>

  <div class="main-content" style="display: block;margin-top: 10px;">
    <h3><%= @user.name %>'s questions</h3>
    <% @user.questions.each do |question| %>
        <div class="common-line" style="margin-top: 3px;margin-bottom: 3px;"></div>
        <a href="<%= question_path question %>"><%= question.title %></a>
    <% end %>
  </div>

  <div class="main-content" style="display: block;margin-top: 10px;">
    <h3>Questions <%= @user.name %> answered</h3>
    <% @user.helps.each do |help| %>
        <div class="common-line" style="margin-top: 3px;margin-bottom: 3px;"></div>
        <a href="<%= question_path help.question %>"><%= help.question.title %></a>
    <% end %>
  </div>
</div>

<div class="divide-dev"></div>

<div class="side-bar">
  <div class="side-content">
    <div style="display: inline-block;">
      <%= gravatar_for @user %>
    </div>
    <div style="display: inline-block;vertical-align: top;margin-left: 5px;">
      <h3><%= @user.name %></h3>
      <%= @user.email %>
    </div>
  </div>

  <div class="side-content" style="margin-top: 10px;">
    <%= render 'common/adsense' %>
  </div>
</div>