<%= form_for(@supplier) do |f| %>
    <% if @supplier.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            <%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from
            being saved:
          </div>

          <ul>
            <% @supplier.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :style => "width:400px;" %>
    </div>
    <div class="field">
      <%= f.label :tel %>
      <%= f.text_field :tel, :style => "width:400px;" %>
    </div>
    <div class="field">
      <%= f.label :fax %>
      <%= f.text_field :fax, :style => "width:400px;" %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, :style => "width:400px;" %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, :style => "width:400px;" %>
    </div>
    <div class="field">
      <%= f.label :detail %>
      <%= f.cktext_area :detail, :style => "width:500px;height:180px;", :toolbar => "Basic" %>
    </div>
    <div class="actions" style="margin-top: 10px;">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
<% end %>
