<div style="width: 100%;display: inline-block;margin-bottom: 5px;">
  <div style="width: 100%;background-color: #eee;border-bottom: 1px solid #bbb;border-right: 1px solid #bbb;margin-bottom: 5px;height: 30px;line-height: 30px;" class="rounded-corners">
    <b><a href="<%= supplier_path supplier %>" style="margin-left: 5px;"><%= supplier.name %></a></b>
  </div>
  <!--<div style="padding-left: 5px;">-->
    <!--<%#= render :partial => 'suppliers/property', :locals => {:supplier => supplier} %>-->
  <!--</div>-->
</div>

<% unless (supplier.detail.nil? or supplier.detail.empty?) %>
    <div class="supplier-detail rounded-corners">
      Chinese Name:&nbsp;<%= supplier.name_cn %>
      <br />
      <%= strip_tags supplier.detail %>
    </div>
<% end %>
<div style="text-align: right;margin-bottom: 5px;">
  <%= render :partial => 'suppliers/supplier_maintenance', :locals => {:supplier => supplier} %>
</div>