<div class="main-content">
  <h3 style="text-align: center;"><%= @supplier.name %></h3>
  <%= render :partial => 'suppliers/property', :locals => {:supplier => @supplier} %>
  <p>
    <%= @supplier.detail.html_safe %>
  </p>

  <p style="text-align: right;">
    <%= render :partial => 'suppliers/supplier_maintenance', :locals => {:supplier => @supplier} %>
  </p>
</div>

<div class="divide-dev"></div>

<div class="side-bar">
  <div class="side-content">
    <%= render 'comman/supplier_button' %>
  </div>
  <div class="side-content" style="margin-top: 10px;">
    <%= render 'comman/adsense' %>
  </div>
</div>