<div class="navbar  navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= root_path %>" style="font-style: italic;">
        <b>Fishing Tackle</b>
      </a>
      <ul class="nav">
        <li id="nav-comman">
          <a href="<%= root_path %>">Articles</a>
        </li>
        <li id="nav-suppliers">
          <a href="<%= suppliers_path %>">Suppliers</a>
        </li>
        <li id="nav-questions">
          <a href="<%= questions_path %>">Questions & Help</a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <% if sign_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<%= user_path current_user %>">Profile</a>
                </li>
                <li>
                  <a href="<%= edit_user_path current_user %>">Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="<%= signout_path %>">Sign out</a>
                </li>
              </ul>
            </li>
        <% else %>
            <li><a href="<%= signup_path %>">Sign up</a></li>
            <li><a href="<%= signin_path %>">Sign in</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#nav-<%= params[:controller] %>").addClass('active');
    })
</script>
